*{
    margin: 0;
    padding: 0;
}
:root{
    --background : purple;
    --padding : 10px;
    --blur : 10px;
}
img{
    width: 100%;
    filter: blur(var(--blur));
}
div{
    padding: var(--padding);
    background: var(--background);
    position: relative;
    width: 70%;
    margin: auto;
}